html, body, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.content {
  padding: 2rem; /* instead of padding-top 10% */
  height: 100%;
  width: 100%;
  overflow-y: auto;    /* only vertical scroll if needed */
  overflow-x: hidden;  /* prevent horizontal scroll */
  display: flex;
  flex-direction: column;
  align-items: center; /* optional, centers children horizontally */
  background: linear-gradient(to top, #444 0%, #000 75%);
  box-sizing: border-box; /* include padding in width/height */
  text-align: center;
}

.card {
  padding: 2em;
}